<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>CRM</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">CRM</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/tickets-view" class="nav-link">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a href="/partorders-view" class="nav-link">Parts Orders</a>
                    </li>
                    <li class="nav-item">
                        <a href="/products-view" class="nav-link">Products</a>
                    </li>
                    <li class="nav-item">
                        <a href="/customers-view" class="nav-link">Customers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

   <section class="min-100 d-flex flex-column justify-content-start mt-5">
    <div class="container">
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Part Name</th>
                <th scope="col">Part Price</th>
                <th scope="col">Part Quantity</th>
                <th scope="col">Delete Part Order</th>
                <th scope="col">Update Part Order</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each = "partorder: ${partorders}">
              	<th th:text = "${partorder.poid}"></th>
              	<td th:text = "${partorder.partName}"></td>
              	<td th:text = "${partorder.partPrice}"></td>
              	<td th:text = "${#numbers.formatInteger(partorder.partQuantity,1,'NONE')}"></td>
              	<td><button type="button" class="btn btn-danger" th:attr="onclick=|deleteItem('partorders','${partorder.poid}')|">Delete</button></td>
              	<td><button type="button" class="btn btn-warning text-light">Update</button></td>
              </tr>
            </tbody>
          </table>
    </div>
   </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>