<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>CRM</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">CRM</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/tickets" class="nav-link">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a href="/partorders" class="nav-link">Parts Orders</a>
                    </li>
                    <li class="nav-item">
                        <a href="/products" class="nav-link">Products</a>
                    </li>
                    <li class="nav-item">
                        <a href="/customers" class="nav-link">Customers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

   <section class="min-100 d-flex flex-column justify-content-start mt-3 mb-3 container">
   
        <h2 class="mb-3">Ticket Page</h2>
        
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                	<form th:object="${ticket}">
                		<div th:each = "tic: ${ticket}">
	                    	<div class="card-header bg-warning bg-gradient">
	                    		<div class="row">
	                    			<div class="col">Ticket ID: <span th:text = ${tic.tid}></span></div>
	                    			<div class="col text-end">Created: <span th:text = "${#temporals.format(tic.createDateTime, 'M-dd-yyyy HH:mm:ss')}"></span></div>
	                    		</div>
	                    		
		                      
		                    </div>
		                    
		                    <div class="card-body">
		                        <h5 class="card-title">Initial Description</h5>
		                        <!-- <textarea th:field = "${ticket.description}" class="form-control card-text border-0 px-0" name="description"></textarea> -->
		                        <p id="description" contentEditable="false" class="card-text" th:text = ${ticket.description}></p>
		                        <div class="row">
		                        	<div class="col">
		                        		<div id="descUpdate" class="text-muted">Updated: <span th:text = "${#temporals.format(tic.updateDateTime, 'M-dd-yyyy HH:mm:ss')}"></span></div>
		                        	</div>
		                        	<div class="col text-end">
		                        		<button id="buttonDesc" type="button" class="btn btn-sm btn-primary">Edit</button>
		                        	</div>
		                        </div>
		                    </div>
		                    
		                    <div class="card-header border-top">
		                        <div class="row d-flex">
		                            <div class="col">Diagnostics</div>
		                        </div>
		                    </div>
		                    <div class="card-body">
		                        <p id="diagnostic" contentEditable="false" class="card-text" th:text = ${tic.diagnostic}>With supporting text below as a natural lead-in to additional content.</p>
		                        <div class="text-end">
		                        	<button id="buttonDiag" type="button" class="btn btn-sm btn-primary">Edit</button>
		                        </div>
		                    </div>
                    	</div>
                	</form>
                    <form th:object="${ticket}">
                    	<div th:each = "update: ${ticket.getUpdates()}">
	                        <div class="card-header border-top">
	                            <div class="row d-flex">
	                                <div class="col">Update</div>
	                                <div class="col text-end text-muted">Created: <span th:text = "${#temporals.format(update.createDateTime, 'M-dd-yyyy HH:mm:ss')}"></span></div>
	                            </div>
	                        </div>
	                        <div class="card-body">
	                            <p th:id="'update' + ${update.tuid}" contentEditable="false" class="card-text" th:text = ${update.ticketUpdate}></p>
	                            <div class="row">
			                        	<div class="col">
			                        		<div id="updateUpdate" class="text-muted">Updated: <span th:text = "${#temporals.format(update.updateDateTime, 'M-dd-yyyy HH:mm:ss')}"></span></div>
			                        	</div>
			                        	<div class="col text-end">
			                        		<button th:id="'buttonUpdate' + ${update.tuid}" type="button" class="btn btn-sm btn-primary">Edit</button>
			                        	</div>
			                        </div>
	                        	</div>
	                    	</div>
                    </form>
	                </div>
	                
	               
	                
	                
                   
	   
                
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        Customer Information
                    </div>
                    <div class="card-body" th:each = "customer: ${ticket.getCustomer()}">
                        <p class="card-text">First Name: <span th:text = ${customer.firstName}></span></p>
                        <p class="card-text">Last Name: <span th:text = ${customer.lastName}></span></p>
                        <!-- <p class="card-text">Phone Number: <span th:text = "${customer.firstName}"></span></p> -->
                        <p class="card-text">Email: <span th:text = ${customer.email}></span></p>
                    </div>
                </div>
                
                 <!-- Button trigger modal -->
	                <div class="text-end mt-3">
						<button id="createUpdateButton" type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
						  New Update
						</button>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="staticBackdropLabel">Ticket Update</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      	<div class="modal-body" id="createUpdateBody" contentEditable="true"></div>
					      <div class="modal-footer">
					        <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					        <button id="apply" type="button" class="btn btn-primary">Apply</button>
					      </div>
					    </div>
					  </div>
					</div>
	            </div>
	        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script th:inline="javascript">
    	let ticket = [[${ticket}]];
    </script>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>